body {
	font-family: serif;
	background-color: #fff;
}

header {
	padding: 100px;
}

h1 { 
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
}

.container {
  display:flex;
  justify-content:space-between;
  align-items:center;  
}

#navbar{
   margin:0;
   float:right;
 }

 #navbar ul{
   padding:0;
   list-style:none;
 }

 #navbar li{
   display:inline-block;
 }

 #navbar a{
   color:#00f;
   text-decoration:none;
   font-size:18px;
   padding-right:15px;
 }

img {
  max-width:23%;
  max-height:23%;
}

p {
	margin-top: 40px;
	margin-left: 120px;
	margin-right: 120px;
}

h2 {
	margin-top: 40px;
	margin-left: 120px;
	margin-right: 120px;
}